@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}

.heading {
  color: white;
  margin-left: 10%;
}

.Title {
  margin-left: 10%;
}

iframe {
  margin-left: 10%;
}
